<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="middle" style="width:100%;">
      <div style="text-align: center">
        <h2 style="padding-right: 110px; margin-bottom: 0px; white-space: nowrap;">Big Data Management HOME</h2>
      </div>
    </td>
  </tr>
</table>
<hr style="margin-top: 10px; margin-bottom: 10px;">

<a (click)="routeUpload()">File Upload</a>
<br>
<a (click)="routeQueryHome()">File Query System</a>
