<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="middle" style="width:100%;">
      <div style="text-align: center">
        <h2 style="padding-right: 110px; margin-bottom: 0px; white-space: nowrap;">File Upload</h2>
      </div>
    </td>
    <td valign="right">
      <button (click)="routeHome()">HOME</button>
    </td>
  </tr>
</table>
<hr style="margin-top: 10px; margin-bottom: 10px;">

<div id="processing" class="overlay" *ngIf="processingIsVisible">
  <span>Processing</span>
</div>
<div id="fileUpload">
  Choose File to Upload:&nbsp;&nbsp;&nbsp;&nbsp;<input type="file" name="uploadfile" id="uploadfile"
                                                       (change)="onChange($event)"/>
  <br/>
  <input type="submit" value="Submit" (click)="submitFile($event)"/>
</div>
