<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="middle" style="width:100%;">
      <div style="text-align: center">
        <h2 style="padding-right: 110px; margin-bottom: 0px; white-space: nowrap;">File Query System</h2>
      </div>
    </td>
    <td valign="right">
      <button (click)="routeHome()">HOME</button>
    </td>
  </tr>
</table>
<hr style="margin-top: 10px; margin-bottom: 10px;">

<p>(Optional) Product Code: <input id="PID" placeholder="ProductID"/></p>
<button (click)="getAllFiles()">Get All Files</button><br> OR <p> <input id="NameLike" placeholder="Search String"/>&nbsp;&nbsp;
  <button (click)="getAllFiles()">Get Files w/Name Like</button></p>


<div *ngIf="filesIsVisible">
  <br>
  Distinct File list: <br>
  <div #let *ngFor="let file of files; let i = index">
    {{file}}
    <br>
  </div>
</div>

<br><br>
<p>Execute query for newest version of file: <input id="FileName" placeholder="File Name"/>&nbsp;&nbsp;</p> <button (click)="getHighestVersion()"
                                                                                                        >Get Most Recent Version</button>

<div *ngIf="versionIsVisible">
  <br>
  Most Recent version for file {{fileName}} is {{version}} <br>
</div>

<br><br>
<p>Execute query for difference between versions:
  <br>File Name: <input id="DiffFileName" placeholder="File Name"/>
  <br>Starting Version: <input id="DiffStartV" placeholder="Starting Version"/>
  <br>Ending Version: <input id="DiffEndV" placeholder="Ending Version"/></p> <button (click)="getVersionDiff()"
>Get Differences in versions</button>

<div *ngIf="diffIsVisible">
  <br>
 Differences for {{fileName}} between {{startVersion}} and {{endVersion}}: <br>
</div>

<div id="processing" class="overlay" *ngIf="processingIsVisible">
  <span>Processing</span>
</div>





